
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>

        <property name="connection.url">jdbc:postgresql://localhost:5432/config_lesson</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">1</property>
        <property name="dialect">org.hibernate.dialect.PostgresSQL94Dialect</property>
        <property name="hibernate.show_sql ">true</property>

        <mapping resource="ru/javavision/ru.javavision.model/ARTICLE.hbm.xml" />
        <mapping resource="ru/javavision/ru.javavision.model/DRESS.hbm.xml" />
        <mapping resource="ru/javavision/ru.javavision.model/PRODUCTS.hbm.xml" />
        <mapping resource="ru/javavision/ru.javavision.model/SALAS.hbm.xml" />
        <mapping resource="ru/javavision/ru.javavision.model/SALAS10000.hbm.xml" />
        <mapping resource="ru/javavision/ru.javavision.model/SKIRTS.hbm.xml" />

    </session-factory>
</hibernate-configuration>